.home{
  padding-left:4rem
}


.margin-right-2{
  padding-right: 2rem;
}

.nav-right{
  float:right;
}

.nav-2{
  float:right;
  
}

.topnav.responsive .nav-2{
  float:left;
  width: 100%;
}

.nav-left{
  float:left;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
  
.topnav {
  background-color:none;
}

.topnav.responsive{
  padding-bottom:0rem;
}
  
.topnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:first-child{
  float:left
}

.topnav{
  padding-left: 2rem;
}

.topnav.responsive{
  padding-left: 0rem;
}


.topnav a:hover {
  background-color: #ddd;
  color: white;
}
  
.topnav a.active {
  background-color: lightseagreen;
  color: white;
  font-weight: 700;
  font-size: 16pt;
}

.topnav .icon {
  display: none;
}
  
  
.topnav.responsive a,  .topnav.responsive .dropd {
  float: none;
  display: block;
  text-align: left;
}

.dropd {
  overflow: hidden;
}
    
.dropd .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
  text-align: left;
}
    
.topnav a:hover, .dropd:hover .dropbtn {
  background-color:lightseagreen;
}

.topnav.responsive .dropd .dropbtn:hover, .topnav.responsive a:hover {
  background: grey;
}

.dropd-content a{
  float: none !important;
}
    
.dropd-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    
.dropd-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
    
.dropd-content a:hover {
  background-color: #ddd;
}
    
.dropd:hover .dropd-content {
  display: block;
}

.contain{
  background-color: lightsteelblue;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 88vh;
}

.container-inner{
  margin: auto;
  margin-left: 4rem;
  margin-right: 4rem;
  padding:3rem;
  background-color: white;
}


.container-1{
  width:60%;
  display:flex;
  
}

.container-2{
  width:40%;
  display:flex;
}


@media screen and (max-width: 700px) {
  .container-1{
    width:100%;
  }
  
  .container-2{
    width:100%;
  }
}

.image{
  float: left;
  width: 300px;
  padding: 1rem;
}

.inner-head{
  font-weight: 700;
  padding-bottom:1rem ;
  font-size:x-large;
  color:lightseagreen;
  text-align: left;
  border-bottom: solid 1px #e9ecef;
  margin: 1rem;
}

.inner-body{
  text-align: justify;
}

.column-left{
  float:left; 
}

.column-right{
  float:right;
}

.vis-ele{
  width: 50% ;
}

footer{
  background-color: grey;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem ;
  border-top: solid lightseagreen;
  color: white;
}

@media screen and (max-width: 700px) {

.topnav a:not(:first-child), .dropd {display: none;}
.topnav a.icon {
    float: right;
    display: block;
  }

.topnav.responsive {
    position: relative;
  }

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
.contain{
  height:auto;
  }

.container-inner{
  margin:1rem;
  }

.container-1{
  margin-top: 4rem;
  width: 100%;
  }

.vis-ele{
  width: 25% !important;
  }


.inner-head{
  padding-bottom:1rem ;
  }

}